<?xml version="1.0"?>
<phpunit 
	bootstrap="test/bootstrap.php" 
	syntaxCheck="true"
	colors="true"
	convertErrorsToExceptions="true" 
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	strict="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="All Machinist Tests">
			<directory>test/machinist</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<exclude>
			</exclude>
			<directory>src</directory>
		</whitelist>
	</filter>
	<php>
		<env name="SQLite_Driver_DSN" value="sqlite::memory:"/>
		<env name="MySQL_Driver_DSN" value="mysql:host=localhost"/>
		<env name="MySQL_Driver_User" value="root"/>
		<env name="MySQL_Driver_Password" value=""/>
		<env name="Doctrine_Driver_SQLite_DSN" value="sqlite::memory:" />
		<env name="Doctrine_Driver_Proxy_Root_Directory" value="/tmp/machinist/proxy" />
 	</php>
</phpunit>
